body{
    background-color: #332E2E;
    text-align: center;
    color: white;
    font-family: sans-serif;
}
#game{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 600px;
}
#display{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    width: 300px;
    height: 300px;
    border-radius: 200px;
}
h1{
    position: relative;
    top: 25%;
}
#score{
    position: relative;
    width: 110px;
    top: 17%;
    right: -18%
}
#start{
    position: relative;
    transform: translate(120%,290%);
    height: 25px;
    width: 38px;
    color: black;
}
.simon-button{
    outline: inherit;
    height: 300px;
    width: 300px;
    border-color: black;
    border-width: 5px;
}
#green{
    background-color: darkgreen;
    border-top-left-radius: 300px;
}
#red{
    background-color: darkred;
    border-top-right-radius: 300px;
}
#yellow{
    background-color: darkgoldenrod;
    border-bottom-left-radius: 300px;
}
#blue{
    background-color: darkblue;
    border-bottom-right-radius: 300px;
}