body{
    background-color: #332E2E;
    text-align: center;
    color: white;
}
#game{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 600px;
}
#display{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    width: 300px;
    height: 300px;
    border-radius: 200px;
}
h1{
    position: relative;
    top: 25%;
}
#score{
    position: relative;
    top: 17%;
    right: 12%
}
#start{
    position: relative;
    transform: translate(120%,290%);
    height: 25px;
    width: 36px;
    color: black;
}
button{
    color: inherit;
    padding: 0;
    outline: inherit;
}
#green{
    background-color: green;
    height: 300px;
    width: 300px;
    border-top-left-radius: 300px;
    border-color: black;
    border-width: 5px;
}
#red{
    background-color: red;
    height: 300px;
    width: 300px;
    border-top-right-radius: 300px;
    border-color: black;
    border-width: 5px;
}
#yellow{
    background-color: yellow;
    height: 300px;
    width: 300px;
    border-bottom-left-radius: 300px;
    border-color: black;
    border-width: 5px;
}
#blue{
    background-color: blue;
    height: 300px;
    width: 300px;
    border-bottom-right-radius: 300px;
    border-color: black;
    border-width: 5px;
}